@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.page-title{
  font-family: 'Bree Serif', serif;
}

.files-section{
  margin: 20px;
}
